<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dambrisco.wearablespeedometer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name="com.dambrisco.wearablespeedometer.DApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.dambrisco.wearablespeedometer.MainActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="com.dambrisco.wearablespeedometer.UPDATE"/>
                <action android:name="com.dambrisco.wearablespeedometer.STOP"/>
            </intent-filter>
        </activity>
        <service
                android:name="com.dambrisco.wearablespeedometer.CurrentSpeedService"/>
        <receiver
                android:name="com.dambrisco.wearablespeedometer.StopReceiver"/>
    </application>

</manifest>
